<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div class="list card">
        <div class="item item-divider">
            Flat 5 Pollard Row Apartments
        </div>
        <div class="item item-text-wrap">
            Flat 5, Pollard Row Apartments, 35 Florida Street, E26LP London
        </div>
    </div>
        <button class="button button-block button-balanced" ng-click="closeNewTask()">
            In Office
        </button>
        <button class="button button-block button-positive">
            Delivered
        </button>

        <button class="button button-block button-positive">
            Collected
        </button>

  </ion-content>
</ion-view>
